:root {
  --font-family: system-ui, sans-serif;
  --font-family--heading: var(--font-family);
  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;
  --line-height: 1.5;
  --line-height--heading: 1.2;
  --border-radius: 0.1875rem;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;
  --border-width: 0.0625rem;
  --border: var(--border-width) solid currentColor;
  --focus-outline-width: 0.1875rem;
  --focus-outline-offset: 0.125rem;
  --focus-outline: var(--focus-outline-width) solid #1565c0;
  --duration: 150ms;
  --timing: ease; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: var(--spacing--small) var(--spacing);
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color var(--duration) var(--timing);
  transition: background-color var(--duration) var(--timing);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover,
  [type="button"]:hover,
  [type="reset"]:hover,
  [type="submit"]:hover {
    background-color: #3b83d5; }
  button:focus,
  [type="button"]:focus,
  [type="reset"]:focus,
  [type="submit"]:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset); }
  button:disabled,
  [type="button"]:disabled,
  [type="reset"]:disabled,
  [type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

:root {
  --form-box-shadow: inset 0 --border-width 0.1875rem rgba(#000, 0.06);
  --form-box-shadow-focus: var(--form-box-shadow), 0 0 0.3125rem #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: var(--spacing--small);
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: var(--spacing--small); }

input,
select,
textarea {
  display: block;
  font-family: var(--font-family);
  font-size: 1rem; }

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--form-box-shadow);
          box-shadow: var(--form-box-shadow);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: var(--spacing--small);
  padding: calc(var(--spacing) / 3);
  -webkit-transition: border-color var(--duration) var(--timing);
  transition: border-color var(--duration) var(--timing);
  width: 100%; }
  [type="color"]:focus,
  [type="date"]:focus,
  [type="datetime"]:focus,
  [type="datetime-local"]:focus,
  [type="email"]:focus,
  [type="month"]:focus,
  [type="number"]:focus,
  [type="password"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="text"]:focus,
  [type="time"]:focus,
  [type="url"]:focus,
  [type="week"]:focus,
  input:not([type]):focus,
  textarea:focus {
    -webkit-box-shadow: var(--form-box-shadow-focus);
            box-shadow: var(--form-box-shadow-focus); }
  [type="color"]:disabled,
  [type="date"]:disabled,
  [type="datetime"]:disabled,
  [type="datetime-local"]:disabled,
  [type="email"]:disabled,
  [type="month"]:disabled,
  [type="number"]:disabled,
  [type="password"]:disabled,
  [type="search"]:disabled,
  [type="tel"]:disabled,
  [type="text"]:disabled,
  [type="time"]:disabled,
  [type="url"]:disabled,
  [type="week"]:disabled,
  input:not([type]):disabled,
  textarea:disabled {
    cursor: not-allowed; }
    [type="color"]:disabled:hover,
    [type="date"]:disabled:hover,
    [type="datetime"]:disabled:hover,
    [type="datetime-local"]:disabled:hover,
    [type="email"]:disabled:hover,
    [type="month"]:disabled:hover,
    [type="number"]:disabled:hover,
    [type="password"]:disabled:hover,
    [type="search"]:disabled:hover,
    [type="tel"]:disabled:hover,
    [type="text"]:disabled:hover,
    [type="time"]:disabled:hover,
    [type="url"]:disabled:hover,
    [type="week"]:disabled:hover,
    input:not([type]):disabled:hover,
    textarea:disabled:hover {
      border: var(--border); }
  [type="color"]::-webkit-input-placeholder, [type="date"]::-webkit-input-placeholder, [type="datetime"]::-webkit-input-placeholder, [type="datetime-local"]::-webkit-input-placeholder, [type="email"]::-webkit-input-placeholder, [type="month"]::-webkit-input-placeholder, [type="number"]::-webkit-input-placeholder, [type="password"]::-webkit-input-placeholder, [type="search"]::-webkit-input-placeholder, [type="tel"]::-webkit-input-placeholder, [type="text"]::-webkit-input-placeholder, [type="time"]::-webkit-input-placeholder, [type="url"]::-webkit-input-placeholder, [type="week"]::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #333;
    opacity: 0.25; }
  [type="color"]::-moz-placeholder, [type="date"]::-moz-placeholder, [type="datetime"]::-moz-placeholder, [type="datetime-local"]::-moz-placeholder, [type="email"]::-moz-placeholder, [type="month"]::-moz-placeholder, [type="number"]::-moz-placeholder, [type="password"]::-moz-placeholder, [type="search"]::-moz-placeholder, [type="tel"]::-moz-placeholder, [type="text"]::-moz-placeholder, [type="time"]::-moz-placeholder, [type="url"]::-moz-placeholder, [type="week"]::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
    color: #333;
    opacity: 0.25; }
  [type="color"]:-ms-input-placeholder, [type="date"]:-ms-input-placeholder, [type="datetime"]:-ms-input-placeholder, [type="datetime-local"]:-ms-input-placeholder, [type="email"]:-ms-input-placeholder, [type="month"]:-ms-input-placeholder, [type="number"]:-ms-input-placeholder, [type="password"]:-ms-input-placeholder, [type="search"]:-ms-input-placeholder, [type="tel"]:-ms-input-placeholder, [type="text"]:-ms-input-placeholder, [type="time"]:-ms-input-placeholder, [type="url"]:-ms-input-placeholder, [type="week"]:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #333;
    opacity: 0.25; }
  [type="color"]::-ms-input-placeholder, [type="date"]::-ms-input-placeholder, [type="datetime"]::-ms-input-placeholder, [type="datetime-local"]::-ms-input-placeholder, [type="email"]::-ms-input-placeholder, [type="month"]::-ms-input-placeholder, [type="number"]::-ms-input-placeholder, [type="password"]::-ms-input-placeholder, [type="search"]::-ms-input-placeholder, [type="tel"]::-ms-input-placeholder, [type="text"]::-ms-input-placeholder, [type="time"]::-ms-input-placeholder, [type="url"]::-ms-input-placeholder, [type="week"]::-ms-input-placeholder, input:not([type])::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #333;
    opacity: 0.25; }
  [type="color"]::placeholder,
  [type="date"]::placeholder,
  [type="datetime"]::placeholder,
  [type="datetime-local"]::placeholder,
  [type="email"]::placeholder,
  [type="month"]::placeholder,
  [type="number"]::placeholder,
  [type="password"]::placeholder,
  [type="search"]::placeholder,
  [type="tel"]::placeholder,
  [type="text"]::placeholder,
  [type="time"]::placeholder,
  [type="url"]::placeholder,
  [type="week"]::placeholder,
  input:not([type])::placeholder,
  textarea::placeholder {
    color: #333;
    opacity: 0.25; }

[type="search"] {
  -webkit-appearance: textfield; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: var(--spacing--small); }

[type="file"] {
  margin-bottom: var(--spacing--small);
  width: 100%; }

select {
  margin-bottom: var(--spacing--small);
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset); }

html {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: var(--spacing) 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: var(--line-height--heading);
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: var(--border); }

th {
  font-weight: 600; }

th,
td {
  padding: var(--spacing--small) var(--spacing--small) var(--spacing--small) 0; }

html {
  color: #333;
  font-family: var(--font-family);
  font-size: 100%;
  line-height: var(--line-height); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--heading);
  font-size: 1.25rem;
  line-height: var(--line-height--heading);
  margin: 0 0 var(--spacing--small); }

p {
  margin: 0 0 var(--spacing--small); }

a {
  color: #1565c0;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  -webkit-transition: color var(--duration) var(--timing);
  transition: color var(--duration) var(--timing); }
  a:hover {
    color: #3b83d5; }
  a:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset); }

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0; }

.commit ul,
.commit ol {
  padding-left: var(--spacing); }

.commit ul {
  list-style-type: disc; }

.commit ol {
  list-style-type: decimal; }

.history {
  display: flex;
  flex-direction: column; }

.history > * {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-left: solid 1px black;
  padding-bottom: var(--spacing--small);
  margin-left: var(--spacing--small); }
  .history > *::before {
    content: "";
    display: block;
    border-radius: 100%;
    background-color: black;
    padding-left: var(--spacing--small);
    margin-left: calc(var(--spacing--small) * -0.5);
    margin-right: var(--spacing--small);
    height: var(--spacing--small); }
  .history > *[aria-current]:not([aria-current="false"]) {
    text-decoration: none; }
  .history > *[aria-current]:not([aria-current="false"])::before {
    background-color: green; }

.history > *:last-child {
  padding-bottom: 0; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.page {
  --history-width: 360px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 36rem) {
    .page {
      flex-direction: row; } }

.page__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  @media (min-width: 36rem) {
    .page__content {
      width: calc(100vw - var(--history-width) - var(--spacing)); } }

.page__history {
  margin-bottom: var(--spacing--small);
  margin-right: 0; }
  @media (min-width: 36rem) {
    .page__history {
      margin-bottom: 0;
      margin-right: var(--spacing); } }

.page__history-summary {
  display: inherit; }
  @media (min-width: 36rem) {
    .page__history-summary {
      display: none; } }

@media (min-width: 36rem) {
  .page__history > * {
    width: 360px; } }
